# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.ipch
*.tlog
*.pdb
*.suo
*.idb
*.log
*.ilk
*.lastbuildstate
*.enc
.vs/*
rhy_01/697873717765.mp3
rhy_02/697873717765.mp3
x64/
editor/fdia.inl
editor/handclap.wav
editor/tick.mp3
editor/__res/test.txt
editor_01/_build/
editor_01/_gamedata/
